RAILS_ENV=development
PORT=3000
SECRET_KEY=d8ced590e24c0cb72e28f05a7c324e107aed613d28267594b1488d245accf71f2ea3ec2a49b8bcfb853ac179f2a7503cb64c9856327e6a5bbe7899c5387efe85
JWT_EXPIRE=86400
API_CACHE_TTL=3600

# API Security and Encryption Configuration
# Must be exactly 32 bytes (64 hex characters if generated like: `openssl rand -hex 32`)
API_PAYLOAD_ENCRYPTION_ENABLED=true
API_GATEWAY_KEY=API_GATEWAY_KEY
API_ENCRYPTION_KEY=API_ENCRYPTION_KEY

USERS_API_URL=http://users-api:3001
USERS_API_GATEWAY_KEY=USERS_API_GATEWAY_KEY
